# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
.venv/
env/
.env/

# PyCharm / JetBrains IDE
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Qt / PyQt
*.qmlc
*.jsc
frm_voice.py

# Betriebssystem
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Datenbankdateien
*.db
*.sqlite
*.sqlite3

# Audio temp files
output.mp3
*.mp3
